/* .avatarButton {
  height: 40px;
  width: 40px;
  border
}*/

.modal {
  background-color: #747053;
  /* color: white; */
}


/* Did not work in changing inner- modal color
.modal-container {
  background-color: #747053;
} */

.modal-header {
  display: flex;
  align-content: center;
  background-color: #E0C686;
  color: #1A1718;
}

/* no success in centering title
.modal-title {
  display: flex;
  align-items: center;
} */

.btn-open-modal, .btn-avatar-close, .btn-avatar-save {
  background-color: #666563;
  color: white;
  
}
.btn-avatar-close:hover, .btn-avatar-save:hover {
  background-color: #E0C686;
  color: white;
  
}

.avatar-form {
  display: flex;
  align-items: center;
} 

/* used to test spacing of avatar images
.avatar-form--hide {
  color: transparent;
} */

img {
  border-radius: 50%
}


/* working on hiding the radio buttons for more seamless avatar selection */
#inline-radio-1, #inline-radio-3 {
  padding-bottom: 150px;
  padding-left: 90px;
} 

#inline-radio-7 {
  padding-left: 90px;
}

/* testing to hide radio buttons */

#inline-radio-1, #inline-radio-2, #inline-radio-3, #inline-radio-4, #inline-radio-7, #inline-radio-8 {
  opacity: 0;
} 


.avatar-option {
  cursor: pointer;
}

.avatar-option:hover {
  outline: 7px solid #E0C686;
}
